body, html{
  background-image:url('../images/transparent.png');
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
}

.pimg1{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}




@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}

.navbar, .navbar-brand {
  font-family: 'Montserrat', cursive;

}

.blog_portion{
position:relative;
top:100px;
padding:20px;

}

.blog_portion .blog-post{
  color:#111;
  background-color:#fff;
  font-family: 'Montserrat', cursive;
  text-align: left;
}
