body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
}

a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden; }


html{
  scroll-behavior: smooth;
}


.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment:fixed;
}


.pimg1{
  background-image:url('../images/transparent.png');
  min-height:650px;
}

.pimg2{
  background-image:url('../images/transparent.png');
  min-height:400px;
}

.pimg3{
  background-image:url('../images/image3.jpg');
  min-height:575px;
}

.pimg4{
  background-image:url('../images/image4.jpg');
  min-height:400px;

}

.project1{
  color:white;
  padding-bottom:200px;
}

.project2{
color:white;
padding-bottom: 100px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:black;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2{
  position:relative;
  text-align:center;
  color:#000;
  font-size:28px;
  font-weight: 50;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2 .border{
  background-color:#111;
  color:#fff;
  padding:10px;
}

.ptext3{
  position:absolute;
  background-color:transparent;
  top:30%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;

}


@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}

.navbar-nav.mr-auto li a{
  font-family: 'Montserrat', cursive;

}

.navbar-nav.mr-auto{
position: relative;
 left: 50%;
 transform: translatex(-50%);
}

.avatar,.image {
  margin: 50px;
  border-radius: 50%;

}
.image{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width:255px;
}

.container.marketing {
  position: relative;
  top: 30px;
  left: 10px;
}

/* Center align the text within the three columns below the carousel*/
.marketing{
  color:#fff;
}
  .marketing p{
  background-color:#111;
  font-family: 'Montserrat', cursive;
  text-align: center;
  padding:20px;
  line-height: 30px;
}

.marketing h2{
  background-color:#111;
  font-family: 'Montserrat', cursive;
  text-align: center;
  padding:20px;

}


.job_title{
  font-size:23px;
  font-family: 'Roboto';
  position:relative;
  top:30px;

}

.hero {

  height: 200px;
   width: 200px;

}

.timeFrame{
    text-align:center;
    font-weight:400;
    font-size:30px;
}

.bTH{
  color:red;
}

.firstColumn{
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  padding: 30px;
}

.secondColumn{
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  padding: 30px;
}
