body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
}

.pimg1, .pimg2, .pimg3, .pimg4{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../images/transparent.png');
  min-height:600px;
}

.pimg2{
  background-image:url('../images/image2.jpeg');
  min-height:400px;
}

.pimg3{
  background-image:url('../images/image3.jpg');
  min-height:600px;
}

.pimg4{
  background-image:url('../images/image4.jpg');
  min-height:400px;

}

.section{
  text-align:center;
  padding:20px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2{
  position:relative;
  top:-25px;
  width:100%;
  text-align:center;
  color:#000;
  font-size:28px;
  font-weight: 50;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2 .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext3{
  position:absolute;
  background-color:transparent;
  top:30%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}


@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4{
    background-attachment:scroll;
  }
}

.navbar-nav.mr-auto li a{
  font-family: 'Montserrat', cursive;
}

.avatar,.image {
  margin: 50px;
  border-radius: 50%;

}
.image{
  display: block;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width:255px;
}

.container.marketing {
  position: relative;
  top: 30px;
  left: 10px;
}

/* Center align the text within the three columns below the carousel */
.container.marketing{
  color:#fff;
}
  .marketing p,.marketing h2{
  background-color:#111;
  font-family: 'Montserrat', cursive;
  text-align: center;
  padding:20px;
}

.job_title{
  font-size:20px;
  font-family: 'Roboto';
  position:relative;
  top:30px;
  width:100%;
}
